@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 210 20% 100%;
    --foreground: 0 0% 11%;
    
    --card: 223 15% 95%;
    --card-foreground: 222.2 84% 4.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    
    --primary: 210 61% 38%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --title: 210 61% 28%;
    --title-foreground: 210 40% 98%;
    
    --muted: 210 40% 70%;
    --muted-foreground: 215.4 16.3% 46.9%;
   
    --accent: 210 40% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
   
    --destructive: 354 99% 38%;
    --destructive-foreground: 210 40% 98%;
    --destructive-highlight: 354 50% 85%;
   
    --border: 214.3 31.8% 80.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;

    --spotlight: 150 60% 50%;
    --spotlight-foreground: 0 0% 11%;
    --spotlight-highlight: 150 60% 92%;

    --warning: 29 89% 58%;
    --warning-foreground: 0 0% 11%;
    --warning-highlight: 29 70% 90%;
  }
  /* 
  Original Light Theme
  :root {
    --background: 100 40% 100%;
    --foreground: 222.2 84% 4.9%;
    
    --card: 223 15% 95%;
    --card-foreground: 222.2 84% 4.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --title: 217 66% 17%;
    --title-foreground: 210 40% 98%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
   
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
   
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
   
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.3rem;

    --spotlight: 142 62% 61%;
    --spotlight-foreground: 142 4% 6%;
  } */

  .dark {
    /* --background: 0 0% 11%; */
    --background: 223 5% 5%;
    --foreground: 210 40% 98%;
   
    --card: 222.2 15% 8%;
    --card-foreground: 210 40% 98%;
    
    --popover: 222.2 5% 10%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    
    --secondary: 217.2 30.6% 10%;
    --secondary-foreground: 210 40% 98%;
    
    --title: 217 66% 17%;
    --title-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --destructive-highlight: 0 50% 10%;
    
    --warning: 29 89% 58%;
    --warning-foreground: 0 0% 11%;
    --warning-highlight: 29 50% 10%; 

    --spotlight: 145 77% 36%;
    --spotlight-foreground: 0 0% 5%;
    --spotlight-highlight: 145 20% 12%;

    --border: 217.2 22.6% 17.5%;
    --input: 217.2 15% 71%;
    --ring: 224.3 76.3% 48%;

  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html {
  overflow-y: scroll;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}